<div th:insert="main.html"></div>
<body>
    <div class="container-fluid" style="margin-top: 10px">
        <h1>Students</h1> <br>
        <table class="table table-bordered">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthday</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.getFirstName()}"></td>
                <td th:text="${student.getLastName()}"></td>
                <td th:text="${student.getBirthday()}"></td>
            </tr>
        </table>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="Sign Out"/>
        </form>
    </div>
</body>