<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="main.html"></div>
<body>
<div class="container-fluid" style="margin-top: 10px">
    <h1>Teachers</h1> <br>
    <a th:href="@{/teachers/create}"><input type="button" class="btn btn-primary" value="New" style="margin-bottom: 10px"></a>
    <table class="table table-bordered">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.getFirstName()}"></td>
            <td th:text="${teacher.getLastName()}"></td>
            <!-- Buttons -->
            <td>
                <a th:href="@{'/teachers/edit/' + ${teacher.getId()}}">
                    <input type="button" class="btn btn-light" value="Edit">
                </a>
                <a th:href="@{'/teachers/delete/' + ${teacher.getId()}}">
                    <input type="button" class="btn btn-danger" value="Delete">
                </a>
            </td>
        </tr>
    </table>
    <div th:insert="footer.html">
    </div>
</div>
</body>